.logo {
  height: 32px;
  border-radius: 6px;
  margin: 16px;
}

.logoImg {
  width: 32px;
  height: 32px;
  background-image: url("../images/logo.png");
  background-repeat:no-repeat;
  background-size: 32px;
  margin: 0 auto;
}

.ant-layout-sider-collapsed .anticon {
  font-size: 16px;
}

.ant-layout-sider-collapsed .nav-text {
  display: none;
}

/* 修复ant icon 行高bug */
.anticon {
    line-height: inherit;
}