.logo {
  height: 32px;
  border-radius: 6px;
  margin: 16px;
}

.logoImg {
  width: 32px;
  height: 32px;
  background-image: url("../images/logo.png");
  background-repeat:no-repeat;
  background-size: 32px;
  margin: 0 auto;
}

.ant-layout-sider-collapsed .anticon {
  font-size: 16px;
}

.ant-layout-sider-collapsed .nav-text {
  display: none;
}

/* 修复ant icon 行高bug */
.anticon {
    line-height: inherit;
}

.header {
  background: rgb(255, 255, 255);
}

.header small {
    font-size: 75%;
    font-weight: 400;
    color: #c0c0c0;
    letter-spacing: 0;
    margin-left: 0.6em;
}
.breadcrumb {
  margin: 12px 0px;
}
.content-body {
    padding: 24px;
    height: 80%;
    background: rgb(255, 255, 255);
}